[user]
name = David Yamnitsky
email = davidy@me.com

[core]
editor = vim

[color]
ui = auto
diff = auto
status = auto
branch = auto
interactive = auto
grep = auto

[push]
default = simple

[diff]
compactionHeuristic = true

[pager]
log = diff-so-fancy | less --tabs=2 -RFX
show = diff-so-fancy | less --tabs=2 -RFX
diff = diff-so-fancy | less --tabs=2 -RFX

[interactive]
diffFilter = diff-so-fancy | less --tabs=2 -RFX
