[user]
name = David Yamnitsky
email = david@yamnitsky.com

[core]
editor = vim
pager = delta --theme="base16"

[color]
ui = auto
diff = auto
status = auto
branch = auto
interactive = auto
grep = auto

[pull]
rebase = true

[push]
default = simple

[diff]
compactionHeuristic = true

