#window {
	background: #333333;
	font-family: JetBrainsMono Nerd Font;
}

#input {
	background: #333333;
	border-radius: 0px;
	border: none;
}

#entry:selected {
	background: #0A84FF;
	outline: none;
}
